.btn {    
    font-family: 'PT Sans';
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    border-radius: 3px;
}

.btn-sm {
    font-size: 10px;
    text-transform: none;
}

.btn-long {
    padding: 7px 17px 4px !important;
    min-width: 82px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-outline-orange {
    color: #2b2b2b;
    border-color: #e3775b;
    padding: 10px 35px;
}

.btn-outline-orange:hover {
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    border-color: #e06647;
}

.btn-outline-orange-bg-dark {
    color: #2b2b2b;
    border-color: #e3775b;
    padding: 10px 35px;
    background-color: rgba(0,0,0,0.3);
}

.btn-outline-orange-bg-dark:hover {
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    border-color: #e06647;
    background-color: rgba(0,0,0,0.4);
}

.btn-orange {
    color: #fff;
    background-color: #e3775b;
    border-color: #e3775b;
    letter-spacing: 0.9px;
    padding: 5px 20px;
}

.btn-orange:hover {
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    background-color: #e06647;
    border-color: #e06647;
}

.btn-orange-rounded {
    color: #fff;
    background-color: #e3775b;
    border-color: #e3775b;
    border-radius: 8px;
    padding: 1px 18px;
    letter-spacing: 0.8px;
}

.btn-orange-rounded:hover {
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    background-color: #e06647;
    border-color: #e06647;
}

.btn-outline-yellow {
    color: #fff;
    border-color: #fad100;
}

.btn-outline-yellow:hover {
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    border-color: #d4b102;
}

.btn-grey {
    color: #1a1a1a;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 0.5px #1a1a1a;
    border-radius: 0;
    padding: 5px 18px;
    line-height: 1.0;
}

.btn-grey:hover {
    color: #1a1a1a;
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 0.5px #1a1a1a;
}

.btn-slider-gallery{
    width: 65px;
}

.btn-slider-gallery:hover {
    box-shadow: 0 2px 10px 0 rgba(151, 151, 151, 0.18);
    border-color: #e06647;
}


.filter-tag {
    padding: 7px 10px;
    font-size: 12px;
    color: #1a1a1a;
    background-color: #eeeeee;
    font-weight: normal;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.filter-tag .close {
    line-height: 0;
    margin-left: 5px;
    font-weight: normal;
    color: #eeeeee;
    border: 1px solid #979797;
    background-color: #9b9b9b;
    height: 15px;
    width: 15px;
    padding-bottom: 3px;
    border-radius: 10px;
    font-size: 16px;
}

.clear-filters {
    padding: 10px 30px;
    margin-bottom: 1px;
}

.ticket-btn {
    background-color: #1a1a1a;
    width: 29px;
    height: 29px;
    border-radius: 14px;
    color: #fff;
    font-size: 20px;
}

.ticket-btn:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(101, 97, 97, 0.87);
}

.ticket-btn.disabled {
    opacity: 1;
    background-color: #d8d8d8;
}