@import "fonts.css";
@import "paddings-margins.css";
@import "buttons.css";

body {
    font-family: "PT Sans";
    font-size: 14px;
    color: #313131;
}

.container {
    max-width: 1280px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Intro";
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 19px;
    line-height: 1.26;
}

h3 {
    font-size: 15px;
    line-height: 1.47;
}

h4 {
    font-size: 12px;
}

.btn-10-40 {
    padding: 10px 40px
}

.btn-7-45 {
    padding: 7px 45px;
}

a.text-pinkish-grey:hover {
    color: #2b2b2b !important;
}

.inner-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1067px;
}

.header-container {
    max-width: 1080px;
}

.inner-inner-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 950px;
}

.header-block {
    min-height: 373px;
    position: relative;     
    background-repeat: no-repeat;
    background-size: cover;
}

.header-block-small {
    min-height: 80px;
}

.header-block .header-background {
    position: absolute; 
    height: 100%; 
    width: 100%; 
}

.header-block-top {
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px 0 20px 7px;*/
    height: 40px;
}

.header-content {
    width: 377px;
    margin: 0 auto;
}

hr.header-content-delimiter {
    margin: 6px 0;
    padding: 6px 0;
    border-top: solid 1px #979797;
    width: 88px;
    margin: 0 auto;
}

.top-logo {
    padding-right: 15px;
    margin-right: 15px;
    border-right: solid 1px rgba(247, 247, 247, 0.29);
}

.top-logo img {
    height: 40px;
}

.top-logo:last-of-type {
    padding-right: 0;
    margin-right: 0;
    border: none;
}

/* Header-menu */

#search-panel,
#menu-panel {
    display: none;
    box-shadow: 0 2px 4px 0 rgba(191, 191, 191, 0.37);
}

#search-panel .form-container {
    padding-left: 100px;
}

#search-panel .form-container input {
    font-size: 18px;
    background-color: #f7f7f7;
    border: none;
}

#search-panel .form-container input:focus {
    box-shadow: none;
}


#menu-panel .nav-link {
    font-size: 14px;
    color: #3b3b3b;
    text-align: center;
    padding: 0px 30px;
}

#menu-panel .nav-link:hover {
    color: #000;
}

#menu-panel .nav-block .nav-link:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.21);
}

#menu-panel .nav-block:not(:last-child) {
    margin-bottom: 25px;
}

/* /Header-menu */



.bg-black {
    background-color: #1a1a1a !important;
}

.bg-purple {
    background-color: #69268c;
}

.bg-dark-indigo {
    background-color: #0f2748;
}

.bg-light-grey {
    background-color: #f5f5f5;
}

.bg-white-four {
    background-color: #f7f7f7;
}

.bg-warm-grey {
    background-color: #9b9b9b;
}

.bg-dark-sky-blue {
    background-color: #4a90e2;
}

.bg-dark-peach {
    background-color: #e3775b;
}

.bg-blueberry {
    background-color: #654ea3;
}

.bg-dusky-blue {
    background-color: #49608d;
}
.bg-telegram-blue {
    background-color: #36AEE2;
}

.bg-twitter-blue {
    background-color: #1DA1F3;
}



.text-dark {
    color: #1b1e2d;
}

.text-white {
    color: #ffffff !important;
}

.text-yellow {
    color: #fad100;
}

.text-pale-white {
    color: #f7f7f7 !important;
}

.text-pinkish-grey {
    color: #bfbfbf !important;
}

.text-black {
    color: #1a1a1a;
}

.text-brownish-grey {
    color: #666666;
}

.text-white-four {
    color: #f7f7f7;
}


.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-dark-sky-blue {
    color: #4a90e2;
}

.text-dark-peach {
    color: #e3775b;
}

.text-blueberry {
    color: #654ea3;
}

.text-dusky-blue {
    color: #49608d;
}

.text-steel {
    color: #8e8e93;
}

.text-white-two {
    color: #eee;
}

.text-white-three {
    color: #f2f2f2;
}

.text-black-two {
    color: #313131;
}

.text-telegram-blue {
    color: #36AEE2;
}

.text-twitter-blue {
    color: #1DA1F3;
}

.text-warm-grey {
    color: #9b9b9b;
}

.border-white-two {
    border-color: #eee !important;
}

.border-black-two {
    border-color: #313131 !important;
}

.border-dark-sky-blue {
    border-color: #4a90e2 !important;
}

.border-dark-peach {
    border-color: #e3775b !important;
}

.border-blueberry {
    border-color: #654ea3 !important;
}

.border-dusky-blue {
    border-color: #49608d !important;
}

.border-twitter-blue {
    border-color: #1DA1F3 !important;
}

.border-telegram-blue {
    border-color: #36AEE2 !important;
}

.border-white-three {
    border-color: #f2f2f2 !important;
}

.border-warm-grey-18 {
    border-color: rgba(151, 151, 151, 0.18) !important;
}
.border-pinkish-grey {
    border-color: #bfbfbf !important;
}

.border-black {
    border-color: #1a1a1a !important;
}




/*------------Best-materials------------*/

.we-are-in-socials {
    max-width: 349px;
    padding: 50px 25px;
    border: 1px solid #eee;
}

.social-icon {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
    font-size: 28px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.social-icon:hover {
    text-decoration: none;
    color: #fff !important;
}


.social-icon:last-child {
    margin-right: 0;
}

.social-vk:hover {
    background-color: #4a90e2;
}

.social-odnoklassniki:hover {
    background-color: #e3775b;
}

.social-instagram:hover {
    background-color: #654ea3;
}

.social-facebook:hover {
    background-color: #49608d;
}

.social-telegram:hover {
    background-color: #36AEE2;
}

.social-twitter:hover {
    background-color: #1DA1F3;
}

.solid-icon.social-vk:hover {
    color: #4a90e2 !important;
    background-color: #fff;
}

.solid-icon.social-odnoklassniki:hover {
    color: #e3775b !important;
    background-color: #fff;
}

.solid-icon.social-instagram:hover {
    color: #654ea3 !important;
    background-color: #fff;
}

.solid-icon.social-facebook:hover {
    color: #49608d !important;
    background-color: #fff;
}

.solid-icon.social-telegram:hover {
    color: #36AEE2 !important;
    background-color: #fff;
}

.solid-icon.social-twitter:hover {
    color: #1DA1F3 !important;
    background-color: #fff;
}



.news .news-item,
.search-results .result-item {
    border-bottom: 2px solid #f2f2f2;
    padding: 30px 0;
    line-height: 1.4;
}

.news .news-item:last-of-type {
    border-bottom: none;
}

.news .news-item .date,
.search-results .result-item .date {
    font-size: 12px;
    margin-right: 25px;
}

.search-results .result-item .item-image {
    margin-right: 10px;
}

.news .news-item .news-info,
.search-results .result-item .item-info {
    font-size: 14px;
}

.search-results {
    max-width: 560px;
    margin-bottom: 60px;
}

.search-results .item-info {
    padding-right: 5%;
}


.material-card {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(151, 151, 151, 0.41);
    max-width: 349px;
    overflow: hidden;
}

.best-materials.museum-index-materials .material-card .item-info-container {
    padding: 17px 19px 21px;
}

.best-materials {
    margin: 10px 0;
}

.material-card.big-card {
    max-width: 100%;
}

.material-card:hover {
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(95, 95, 95, 0.41);
}

.material-card .item-image {
    text-align: center;
    max-height: 200px;
    overflow: hidden;
}

.material-card.big-card .item-image {
    max-height: 100%;
}

.material-card .item-info-container {
    padding: 25px 20px 60px 20px;
}

.material-card .item-info-container .item-info-title {
    text-transform: uppercase;
}

.material-card .item-info-container .item-date {
    border-top: 1px solid rgba(151, 151, 151, 0.18);
}


/*------------/best-materials------------*/



/*------------Cards------------*/

.museum-card {
    position: relative;
    /*max-width: 349px;*/
    min-height: 500px;
    /*overflow: hidden;*/
    border-radius: 5px;
}

.museum-card:last-of-type {
    padding-right: 0 !important;
}


.museum-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.museum-card-container {
    position: relative;
    /*width: 100%;*/
    height: 100%;
    padding: 20px;
    overflow: hidden;
    border-radius: 5px;
    /*top: 0;
    left: 0;*/
}

.museum-card-container:hover {
    box-shadow: 0 2px 10px 0 #bfbfbf;
}

.museum-card-footer {
    height: 100%;
}

/*------------/Cards------------*/

/*------------Museum-banner------------*/

.museum-banner {
    position: relative;
    width: 100%;
    min-height: 435px;
    overflow: hidden;
    border-radius: 5px;
}

.museum-banner-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.museum-banner-container {
    height: 100%;
    padding: 20px;
}

.museum-banner-text {
    max-width: 420px;
}



/*------------/Museum-banner------------*/

/*------------Specproject-banner------------*/

.specproject-banner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: 435px;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.bg-transparent-dark {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner-content {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.banner-info {
    margin: auto;
    text-align: center;
}

.banner-text {
    max-width: 375px;
}

/*------------/Specproject-banner------------*/



/*------------Potentials-and-Projects------------*/

.potential {
    padding: 40px 25px;
    border: 1px solid #eee;
}

.potential .potential-item {
    padding: 0 10px;
}

.potential .potential-item-image {
    display: flex;
    border: 1px solid #979797;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.potential .potential-item-title {
    min-height: 50px;
}

.potential .potential-item-info {
    font-size: 12px;
}


.projects .material-card {
    width: 32%;
}

.best-items .item-info-text {
    font-size: 15px;
    line-height: 1.2;
}

.projects .item-info-text {
    font-size: 15px;
    min-height: 45px;
    line-height: 1.2;
}

.projects .item-date {
    font-size: 12px;
    font-weight: bold;
}



.for-specialists .material-card {
    width: 32%;
}

.for-specialists .item-info-text {
    font-size: 15px;
    line-height: 1.2;
}

/*------------/Potentials-and-Projects------------*/





/*------------Footer------------*/

footer {
    background-color: #1a1a1a;
    padding: 42px 0;
}

footer .footer-container {
    width: 1200px;
}

footer .footer-logo {
    margin-right: 30px;
}

footer .logo {
    max-width: 63px;
}

footer .footer-column.first {
    padding-right: 45px !important;
}

footer .footer-column.second {
    margin-left: -19px;
    padding-right: 50px;
}

footer .footer-column.third {
    margin-left: -21px;
}

footer .footer-column.fourth {
    margin-left: -20px;
}

footer .title {
    font-size: 15px;
    min-height: 35px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 9px;
    display: block;
}

footer .footer-list {
    padding-left: 0;
    opacity: 0.6;
}

footer .footer-sub-title {
    opacity: 0.6;
}

footer .footer-list-social {
    padding-left: 0;
}

footer .footer-list li {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.2;
    list-style: none;
}

footer .socials:first-of-type {
    margin-top: 15px;
}

footer .socials {
    margin-bottom: 15px;
    font-family: "Helvetica";
    font-size: 12px;
}

footer .socials p {
    font-size: 12px;
    margin-bottom: 5px;
    font-family: 'Helvetica';
}

footer .social-icon {
    font-size: 13px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*------------/Footer------------*/

.top-menu-item {
    margin-right: 20px;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.top-menu-item:last-of-type {
    margin-right: 0;
}

.top-menu-block {
    margin-right: 18px;
    padding-right: 18px;
    border-right: solid 1px #4a4a4a;
    height: 28px;
    line-height: 1;
}

.top-menu-block:last-of-type {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.events-block .nav-tabs {
    border: none;
}

.events-block .nav-tabs .nav-link {
    border: none;
    padding: 0;
}



.events-block-header {
    max-width: 523px;
}

.items-choose {
    padding: 0 70px;
    margin: 23px 0 60px;
}

.item-choose {
    margin-right: 17px;
    padding-right: 17px;
    border-right: solid 1px;
}

.item-choose a.active {
    color: #2b2b2b !important;
}

.item-choose:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.item-choose-calendar img {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.event-card {
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}

.event-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-card-container {
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    min-height: 435px;
    padding: 20px 20px 13px;
    overflow: hidden;
    border-radius: 5px;
    /*top: 0;
    left: 0;*/
    box-shadow: 0px 2px 5px 0 #bfbfbf;
}

.event-card-container:hover {
    box-shadow: 0 2px 10px 0 #bfbfbf;
}

.event-card-content .info {
    line-height: 1.2;
}

.event-card-content a {
    color: inherit;
}

.event-card-content a:hover {
    text-decoration: none;
}

.event-card-content .fas {
    line-height: 1.5;
    margin-right: 10px;
}

.event-title {
    font-size: 15px;
}

.event-age {
    border: solid 1px white;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 30px;
    font-size: 11px;
    padding: 4px 7px;
}

.event-age-black {
    border: solid 1px black;
    background-color: rgba(151, 151, 151, 0.18);
}

.event-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(74, 64, 64, 0.5);
}

.events-block-content .col {
    padding-right: 5px;
    padding-left: 5px;
}

.event-content-footer {
    font-size: 12px;
}

.event-content-footer img {
    position: relative;
    top: 5px;
    width: auto !important;
}

.event-footer {
    margin-top: 36px;
}

.event-footer .btn {
    margin-right: 10px;
}

.event-footer .btn:last-child {
    margin-right: 0;
}

.subscription {
    padding: 58px 0;
}

.subscription-text {
    line-height: 1.3;
}

.subscription-text img {
    margin-right: 8px;
    position: relative;
    bottom: 2px;
}

.subscription-title {
    margin-bottom: 5px;
}

.subscription-form {
    top: 6px;
}

.subscription-form input[type="email"] {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
    padding-left: 0;
    width: 63%;
}

.subscription-form [type="submit"] {
    margin-left: 12px;
}

.subscription-form .custom-control {
    margin-top: 12px;
    opacity: 0.75;
    font-family: "PT Sans";
    font-size: 12px;
}


.subscription-form .custom-control-label::before {
    border: solid 1px #fad100;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 4px;
    top: .25rem;
    left: -1.3rem;
}

.subscription-form .custom-control-input:checked ~ .custom-control-label::before {
    color: black !important;
    border-color: #fad100;
    background-color: #fad100;
}

/*------------Orange checkbox-------------*/
.subscription-form .orange.custom-control-label::before {
    border: solid 1px #e3775b;
}

.subscription-form .orange.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e3775b;
    background-color: #e3775b;
}

/*------------/Orange checkbox-------------*/

/*------------Black checkbox-------------*/
.subscription-form .black.custom-control-label::before {
    border: solid 1px #1a1a1a;
}

.subscription-form .black.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #1a1a1a;
    background-color: #1a1a1a;
}

/*------------/Black checkbox-------------*/

.subscription-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    top: 1px;
}

.subscription-form ::-webkit-input-placeholder, .subscription-form .form-control {
    /* WebKit, Blink, Edge */
    color: white;
    font-size: 13px;
    font-style: italic;
}

.subscription-form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
    font-size: 13px;
    font-style: italic;
}

.subscription-form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
    font-size: 13px;
    font-style: italic;
}

.subscription-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-size: 13px;
    font-style: italic;
}

.subscription-form::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-size: 13px;
    font-style: italic;
}

.subscription-form ::placeholder {
    /* Most modern browsers support this now. */
    color: white;
    font-size: 13px;
    font-style: italic;
}

.form-block.subscription-form ::-webkit-input-placeholder, .form-block.subscription-form.subscription-form .form-control {
    /* WebKit, Blink, Edge */
    color: #000;
    font-size: 13px;
    font-style: italic;
}

.form-block.subscription-form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
    font-size: 13px;
    font-style: italic;
}

.form-block.subscription-form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
    font-size: 13px;
    font-style: italic;
}

.form-block.subscription-form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
    font-size: 13px;
    font-style: italic;
}

.form-block.subscription-form::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
    font-size: 13px;
    font-style: italic;
}

.form-block.subscription-form ::placeholder {
    /* Most modern browsers support this now. */
    color: #000;
    font-size: 13px;
    font-style: italic;
}
.form-block.subscription-form input[type="text"],
.form-block.subscription-form input[type="email"] {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(25, 25, 25, 0.3);
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 5px;
}





.block-title img {
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}

.block-gray-shadow {
    box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.41);
}

.gray-block-link:hover {
    color: black;
}

/*------------owl-carousel----------*/

.owl-carousel .owl-stage {
    font-size: 0;
}

.owl-carousel .owl-item {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: 15px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 30px;
    background: none;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    display: block;
    width: 50px;
    height: 53px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    background: #f7f7f7;
}

.owl-carousel .owl-nav button .fas:hover {
    color: #313131;
}

.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev {
    float: left;
    margin-left: -67px;
    pointer-events: all;
}

.owl-carousel .owl-nav .owl-next {
    float: right;
    margin-right: -67px;
    pointer-events: all;
}

.owl-carousel .owl-nav button .fas {
    font-size: 40px;
    color: rgba(191, 191, 191, 0.51);
}

/*------------/owl-carousel----------*/

button:focus {
    outline: none !important;
}

.map-and-price img, .map-and-price .fas {
    margin-right: 10px;
}

/*------------slick-gallery----------*/

#gallery-previous-arrow {
    padding-right: 8px;
}

#gallery-next-arrow {
    padding-left: 8px;
}

.gallery-container .gallery-nav-item {
    max-width: 300px;
    cursor: pointer;
    outline: 0;
}

.gallery-container .gallery-nav .slick-track {
    display: flex;
    align-items: stretch;
}

.gallery-container .gallery-nav .slick-track .slick-slide {
    float: none;
    height: 150px;
    align-self: stretch;
    display: flex;
}

/*------------/slick-gallery----------*/



/*------------Museum-filters------------*/

.museum-filter-card-info {
    margin-bottom: 5px;
}

.museum-filter-card-info img {
    margin-right: 5px;
}

/*------------/Museum-filters------------*/



/*------------Pagination------------*/

.page-item:first-child .page-link {    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-link {
    border: none;
    font-size: 12px;
    color: #1a1a1a;
    padding: 4px 8px;
}

.page-item.active .page-link {
    border: none;
    background-color: #1a1a1a;
    color: #fff;
}

.page-link:hover {
    color: #1a1a1a;
}

/*------------/Pagination------------*/

.article-link:hover {
    color: #e3775b;
}

.news-info a,
.search-results .item-info a {
    color: inherit;
}

.news-info a:hover {
    color: #1a1a1a;
}
.search-results .result-info a:hover {
    color: #1a1a1a;
}

.museum-filter-card a {
    color: inherit;
}

.circle-sm {
    border-radius: 4px;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.5;
}

.select2 .select2-selection--single .select2-selection__arrow {
    color: #4a90e2 !important;
    font-size: 16px !important;
}

.text-article h1 {
    margin-bottom: 5px;
}

.text-article-text {
    line-height: 1.5;
    color: #1a1a1a;
    font-size: 16px;
}

.text-article-text h3 {
    font-size: 16px;
    margin-top: 40px;
}

.text-article-text p {
    margin-bottom: 25px;
}

.text-article-text img {
    margin-bottom: 30px;
}

.text-article-text blockquote {
    margin: 50px 0;
    padding: 55px 6.5rem;
    text-align: center;
    line-height: 1.4;
    font-size: 24px;
    border-bottom: 1px solid #1a1a1a;
    border-top: 1px solid #1a1a1a;
    font-family: "Intro";
    font-weight: 500;
}

.dot-md {
    border-radius: 4px;
    width: 5px;
    height: 5px;
    margin: 0 11px;
    position: relative;
    bottom: 3px;
}

.event-bg-white {
    background-color: rgb(245,245,245);
}

.yellow-dot-md {
    border-radius: 4px;
    background-color: #f5a623;
    width: 7px;
    height: 7px;
    margin-top: 7px;
    margin-right: 10px;
}

.museum-filter-card-header {
    height: 198px;
    overflow: hidden;
}

.event-content-icon {
    width: 20px;
}

.form-control:focus {
    box-shadow: none;
}

.subscription .form-control {
    color: white;
}