@import "fonts.css";

body {
    font-family: "PT Sans";
}

.container {
    max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Intro";
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 15px;
}

h4 {
    font-size: 12px;
}

.inner-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1067px;
}

.header-block {
    min-height: 373px;
}

.header-block-top {
    height: 40px;
    padding: 20px 0;
}

.header-block-content {
}

.top-logo {
    padding-right: 15px;
    margin-right: 15px;
    border-right: solid 1px rgba(247, 247, 247, 0.29);
}

.top-logo img {
    height: 40px;
}

.top-logo:last-of-type {
    padding-right: 0;
    margin-right: 0;
    border: none;
}

.bg-black {
    background-color: #1a1a1a !important;
}

.text-white {
    color: #ffffff !important;
}

.text-pinkish-grey {
    color: #bfbfbf !important;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

/* Footer */

footer .logo {
    max-width: 65px;
}

footer .title {
    font-size: 17px;
    min-height: 40px;
    font-weight: bold;
    line-height: 1.2;
}

footer .footer-list {
    padding-left: 0;
}

footer .footer-list li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.2;
}

footer .socials:first-of-type {
    margin-top: 20px;
}

footer .socials {
    margin-bottom: 10px;
}

footer .socials p {
    font-size: 14px;
    margin-bottom: 5px;
}


/* End of Footer */

.top-menu-item {
    margin-right: 18px;
    text-transform: lowercase;
}

.top-menu-item:last-of-type {
    margin-right: 0;
}

.top-menu-block {
    margin-right: 18px;
    padding-right: 18px;
    border-right: solid 1px #4a4a4a;
    height: 28px;
}

.top-menu-block:last-of-type {
    border-right: none;
}