@import "fonts.css";
@import "paddings-margins.css";
@import "buttons.css";

body {
    font-family: "PT Sans";
    font-size: 14px;
    color: #313131;
}

.container {
    max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Intro";
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 19px;
    line-height: 1.26;
}

h3 {
    font-size: 15px;
    line-height: 1.47;
}

h4 {
    font-size: 12px;
}

.btn-md {
    padding: .575rem .85rem;
    border-radius: 6px
}

a.text-pinkish-grey:hover {
    color: #2b2b2b !important;
}

.inner-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1067px;
}

.inner-inner-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 881px;
}

.header-block {
    min-height: 373px;
}

.header-block-top {
    padding: 20px 0;
    height: 40px;
}

.header-content {
    width: 377px;
    margin: 0 auto;
}

hr.header-content-delimiter {
    margin: 6px 0;
    padding: 6px 0;
    border-top: solid 1px #979797;
    width: 88px;
    margin: 0 auto;
}

.top-logo {
    padding-right: 15px;
    margin-right: 15px;
    border-right: solid 1px rgba(247, 247, 247, 0.29);
}

.top-logo img {
    height: 40px;
}

.top-logo:last-of-type {
    padding-right: 0;
    margin-right: 0;
    border: none;
}

.bg-black {
    background-color: #1a1a1a !important;
}

.bg-purple {
    background-color: #69268c;
}

.text-white {
    color: #ffffff !important;
}

.text-yellow {
    color: #fad100;
}

.text-pale-white {
    color: #f7f7f7 !important;
}

.text-pinkish-grey {
    color: #bfbfbf !important;
}

.text-black {
    color: #1a1a1a;
}

.text-brownish-grey {
    color: #666666;
}

.text-white-four {
    color: #f7f7f7;
}

.border-pinkish-grey {
    border-color: #bfbfbf !important;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.text-dark-sky-blue {
    color: #4a90e2;
}

.text-dark-peach {
    color: #e3775b;
}

.text-blueberry {
    color: #654ea3;
}

.text-dusky-blue {
    color: #49608d;
}

.text-steel {
    color: #8e8e93;
}

.text-white-two {
    color: #eee;
}

.text-white-three {
    color: #f2f2f2;
}
.text-black-two {
    color: #313131;
}


.border-white-two {
    border-color: #eee !important;
}

.border-dark-sky-blue {
    border-color: #4a90e2 !important;
}

.border-dark-peach {
    border-color: #e3775b !important;
}

.border-blueberry {
    border-color: #654ea3 !important;
}

.border-dusky-blue {
    border-color: #49608d !important;
}

.border-white-three {
    border-color: #f2f2f2 !important;
}

/* Best materials */

.best-materials .we-are-in-socials {
    padding: 50px 25px;
    border: 1px solid #eee;
}

.best-materials .social-icon {
    display: block;
    font-size: 28px;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 20px;
}

.best-materials .social-icon:hover {
    text-decoration: none;
    color: #fff !important;
}

.best-materials .social-icon:last-child {
    margin-right: 0;
}

.social-vk:hover {
    background-color: #4a90e2;
}
.social-odnoklassniki:hover {
    background-color: #e3775b;
}
.social-instagram:hover {
    background-color: #654ea3;
}
.social-facebook:hover {
    background-color: #49608d;
}


.news .news-item {
    border-bottom: 2px solid #f2f2f2;
    padding: 30px 0;
}

.news .news-item:last-of-type {
    border-bottom: none;
}

.news .news-item:hover {
    text-decoration: none;
}

.news .news-item .date {
    font-size: 12px;
    margin-right: 25px;
}

.news .news-item .news-info {
    font-size: 14px;
}

.materials .best-item {
    max-width: 49%;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(151, 151, 151, 0.41);
    margin-bottom: 20px;
}

.materials .best-item:hover {
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(95, 95, 95, 0.41);
}

.materials .item-info-container {
    padding: 25px 20px;
}

.materials .item-info-container .item-info-title {
    text-transform: uppercase;
}

.materials .item-info-container .item-date {
    border-top: 1px solid rgba(151, 151, 151, 0.18);
}


/* End of best materials */


/* Specproject-banner */

.specproject-banner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: 435px;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.bg-transparent-dark {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.banner-content {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.banner-info {
    margin: auto;
    text-align: center;
}

.banner-text {
    font-size: 12px;
    max-width: 375px;
}

/* End of Specproject-banner */

/* Footer */

footer .footer-logo{
    margin-right: 30px;
}

footer .logo {
    max-width: 65px;
}

footer .footer-column.first {
    padding-right: 45px !important;
}
footer .footer-column.second {
    margin-left: -15px;
    padding-right: 55px;
}
footer .footer-column.third {
    margin-left: -15px;
}
footer .footer-column.fourth {
    margin-left: -15px;
    padding-left: 0;
}

footer .title {
    font-size: 15px;
    min-height: 35px;
    font-weight: bold;
    line-height: 1.2;
}

footer .footer-list {
    padding-left: 0;
}

footer .footer-list li {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.2;
    list-style: none;
}

footer .socials:first-of-type {
    margin-top: 20px;
}

footer .socials {
    margin-bottom: 10px;
}

footer .socials p {
    font-size: 12px;
    margin-bottom: 5px;
    font-family: 'Helvetica';
}


/* End of Footer */

.top-menu-item {
    margin-right: 18px;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.top-menu-item:last-of-type {
    margin-right: 0;
}

.top-menu-block {
    margin-right: 18px;
    padding-right: 18px;
    border-right: solid 1px #4a4a4a;
    height: 28px;
}

.top-menu-block:last-of-type {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.events-block {
    margin-top: 59px;
}

.events-block-header {
    max-width: 523px;
}

.items-choose {
    padding: 0 70px;
    margin: 23px 0 60px;
}

.item-choose {
    margin-right: 17px;
    padding-right: 17px;
    border-right: solid 1px;
}

.item-choose a.active {
    color: #2b2b2b !important;
}

.item-choose:last-of-type {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.item-choose-calendar img {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.event-title {
    font-size: 15px;
}

.event-age {
    border: solid 1px white;
     -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    border-radius: 90%;
    font-size: 11px;
    padding: 5px 7px;
    position: absolute;
    right: 0;
}

.event {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 13px 19px;
}

.event-header {
    padding: 17px 0 20px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.events-block-content .col {
    padding-right: 5px;
    padding-left: 5px;
}

.event-content-footer {
    margin-top: 16px;
    font-size: 12px;
}

.event-content-footer img {
    position: relative;
    top: 5px;
}

.event-footer {
    margin-top: 36px;
}

.event-footer .btn {
    margin-right: 10px;
}

.event-footer .btn:last-child {
    margin-right: 0;
}

.events-block-footer {
    margin-top: 30px;
}

.subscription {
    padding: 58px 0;
}

.subscription-text img {
    margin-right: 8px;
    position: relative;
    bottom: 2px;
}

.subscription-title {
    margin-bottom: 5px;
}

.subscription-form input[type="email"] {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 5px;
    width: 70% !important;
}

.subscription-form [type="submit"] {
    margin-left: 12px;
}

.subscription-form .custom-control {
    margin-top: 14px;
    opacity: 0.75;
    font-family: 'PT Sans';
    font-size: 12px;
}

.subscription-form .custom-control-label::before {
    border: solid 1px #fad100;
    background-color: transparent;
    width: auto;
    height: auto;
    padding: 4px;
    top: .25rem;
    left: -1.3rem;
}

.subscription-form .custom-control-input:checked~.custom-control-label::before {
    color: black !important;
    border-color: #fad100;
    background-color: #fad100;
}

.subscription-form .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    top: 1px;
}

.subscription-form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-size: 13px;
    font-style: italic;
}
.subscription-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity:  1;
    font-size: 13px;
    font-style: italic;
}
.subscription-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity:  1;
    font-size: 13px;
    font-style: italic;
}
.subscription-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-size: 13px;
    font-style: italic;
}
.subscription-form::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-size: 13px;
    font-style: italic;
}

.subscription-form ::placeholder { /* Most modern browsers support this now. */
    color: white;
    font-size: 13px;
    font-style: italic;
}